<div class="container mt-5">
    <div class="row mt-4 d-flex ">
        <div class="col d-flex justify-content-between">
            <div class="card cardForme" style="height:10rem; width:18rem;">

            </div>
            <div class="card cardForme" style="height:10rem; width:18rem;">
            </div>
            </div>
        <div class="col d-flex justify-content-between">
            <div class="card cardForme" style="height:10rem; width:18rem;">
            </div>
            <div class="card cardForme" style="height:10rem; width:18rem;">
            </div>
        </div>
        </div>
<div class="row my-4">
    <div class="col">
        <div class="card cardForme" style="height:40rem;">

        </div>
    </div>
        <div class="col">
            <div class="card cardForme" style="height:40rem;">
            </div>
        </div>
</div>

</div>