@using WebAppPMRC.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="form-container">
    <!-- Logo -->
    <img src="https://via.placeholder.com/50" alt="Logo" class="mb-3">
    <h1>Change Password</h1>

    <!-- Form -->
    <form asp-action="ChangePassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" readonly placeholder="Enter email">
        </div>
        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" placeholder="New Password">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmNewPassword" class="form-label"></label>
            <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-custom">submit</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}

